<div id="films">
  <div class="film-poster">
      <h2>Thor: Love and Thunder</h2><img
          src="https://image.tmdb.org/t/p/w500/pIkRyD18kl4FhoCNQuWxWu5cBLM.jpg" class="img-poster">
      <h3>After his retirement is interrupted by Gorr the God Butcher, a galactic killer who seeks the
          extinction of the gods, Thor Odinson enlists the help of ....</h3>
  </div>
  <div class="film-poster">
      <h2>The Kill Room</h2><img src="https://image.tmdb.org/t/p/w500/qKpdy7N6zX05eisopvvviiTwPxb.jpg"
          class="img-poster">
      <h3>A hitman, his boss, an art dealer and a money-laundering scheme that accidentally turns the assassin
          into an overnight avant-garde sensation, one that....</h3>
  </div>
  <div class="film-poster">
      <h2>The Grinch</h2><img src="https://image.tmdb.org/t/p/w500/1Bc9VNd9CIHIyJtPKFqSQzrXWru.jpg"
          class="img-poster">
      <h3>The Grinch hatches a scheme to ruin Christmas when the residents of Whoville plan their annual
          holiday celebration.....</h3>
  </div>
  <div class="film-poster">
      <h2>Ruby Gillman, Teenage Kraken</h2><img
          src="https://image.tmdb.org/t/p/w500/8ChIb3WzYAcza1vrXR56v510MWk.jpg" class="img-poster">
      <h3>Ruby Gillman, a sweet and awkward high school student, discovers she's a direct descendant of the
          warrior kraken queens. The kraken are sworn to prote....</h3>
  </div>
  <div class="film-poster">
      <h2>No Hard Feelings</h2><img src="https://image.tmdb.org/t/p/w500/gD72DhJ7NbfxvtxGiAzLaa0xaoj.jpg"
          class="img-poster">
      <h3>On the brink of losing her childhood home, Maddie discovers an intriguing job listing: wealthy
          helicopter parents looking for someone to “date” their ....</h3>
  </div>
  <div class="film-poster">
      <h2>Garfield</h2><img src="https://image.tmdb.org/t/p/w500/vqwTSWNLyH55g8kBT61s2DgNYEp.jpg"
          class="img-poster">
      <h3>Garfield, the fat, lazy, lasagna lover, has everything a cat could want. But when Jon, in an effort
          to impress the Liz - the vet and an old high-schoo....</h3>
  </div>
  <div class="film-poster">
      <h2>Luck</h2><img src="https://image.tmdb.org/t/p/w500/1HOYvwGFioUFL58UVvDRG6beEDm.jpg"
          class="img-poster">
      <h3>Suddenly finding herself in the never-before-seen Land of Luck, the unluckiest person in the world
          must unite with the magical creatures there to turn....</h3>
  </div>
  <div class="film-poster">
      <h2>Minions: The Rise of Gru</h2><img
          src="https://image.tmdb.org/t/p/w500/wKiOkZTN9lUUUNZLmtnwubZYONg.jpg" class="img-poster">
      <h3>A fanboy of a supervillain supergroup known as the Vicious 6, Gru hatches a plan to become evil
          enough to join them, with the backup of his followers,....</h3>
  </div>
  <div class="film-poster">
      <h2>Shazam! Fury of the Gods</h2><img
          src="https://image.tmdb.org/t/p/w500/A3ZbZsmsvNGdprRi2lKgGEeVLEH.jpg" class="img-poster">
      <h3>Billy Batson and his foster siblings, who transform into superheroes by saying "Shazam!", are forced
          to get back into action and fight the Daughters o....</h3>
  </div>
  <div class="film-poster">
      <h2>Ghost Graduation</h2><img src="https://image.tmdb.org/t/p/w500/oduJ7jj5DsVuvIctPxHRcb88vfr.jpg"
          class="img-poster">
      <h3>A teacher with paranormal abilities helps a group of ghosts graduate high school.....</h3>
  </div>
  <div class="film-poster">
      <h2>Turning Red</h2><img src="https://image.tmdb.org/t/p/w500/qsdjk9oAKSQMWs0Vt5Pyfh6O4GZ.jpg"
          class="img-poster">
      <h3>Thirteen-year-old Mei is experiencing the awkwardness of being a teenager with a twist – when she
          gets too excited, she transforms into a giant red pa....</h3>
  </div>
  <div class="film-poster">
      <h2>Glass Onion: A Knives Out Mystery</h2><img
          src="https://image.tmdb.org/t/p/w500/vDGr1YdrlfbU9wxTOdpf3zChmv9.jpg" class="img-poster">
      <h3>World-famous detective Benoit Blanc heads to Greece to peel back the layers of a mystery surrounding
          a tech billionaire and his eclectic crew of frien....</h3>
  </div>
  <div class="film-poster">
      <h2>Scott Pilgrim vs. the World</h2><img
          src="https://image.tmdb.org/t/p/w500/g5IoYeudx9XBEfwNL0fHvSckLBz.jpg" class="img-poster">
      <h3>As bass guitarist for a garage-rock band, Scott Pilgrim has never had trouble getting a girlfriend;
          usually, the problem is getting rid of them. But w....</h3>
  </div>
  <div class="film-poster">
      <h2>Ghosted</h2><img src="https://image.tmdb.org/t/p/w500/liLN69YgoovHVgmlHJ876PKi5Yi.jpg"
          class="img-poster">
      <h3>Salt-of-the-earth Cole falls head over heels for enigmatic Sadie — but then makes the shocking
          discovery that she’s a secret agent. Before they can de....</h3>
  </div>
  <div class="film-poster">
      <h2>Wonka</h2><img src="https://image.tmdb.org/t/p/w500/qhb1qOilapbapxWQn9jtRCMwXJF.jpg"
          class="img-poster">
      <h3>Willy Wonka – chock-full of ideas and determined to change the world one delectable bite at a time –
          is proof that the best things in life begin with ....</h3>
  </div>
  <div class="film-poster">
      <h2>Dungeons &amp; Dragons: Honor Among Thieves</h2><img
          src="https://image.tmdb.org/t/p/w500/A7AoNT06aRAc4SV89Dwxj3EYAgC.jpg" class="img-poster">
      <h3>A charming thief and a band of unlikely adventurers undertake an epic heist to retrieve a lost
          relic, but things go dangerously awry when they run afo....</h3>
  </div>
  <div class="film-poster">
      <h2>Big Hero 6</h2><img src="https://image.tmdb.org/t/p/w500/2mxS4wUimwlLmI1xp6QW6NSU361.jpg"
          class="img-poster">
      <h3>A special bond develops between plus-sized inflatable robot Baymax, and prodigy Hiro Hamada, who
          team up with a group of friends to form a band of hig....</h3>
  </div>
  <div class="film-poster">
      <h2>Bottoms</h2><img src="https://image.tmdb.org/t/p/w500/jeyTQrNEpyE1LZIgVlswYh3sc34.jpg"
          class="img-poster">
      <h3>Unpopular best friends PJ and Josie start a high school self-defense club to meet girls and lose
          their virginity. They soon find themselves in over th....</h3>
  </div>
  <div class="film-poster">
      <h2>Hotel Transylvania: Transformania</h2><img
          src="https://image.tmdb.org/t/p/w500/teCy1egGQa0y8ULJvlrDHQKnxBL.jpg" class="img-poster">
      <h3>When Van Helsing's mysterious invention, the "Monsterfication Ray," goes haywire, Drac and his
          monster pals are all transformed into humans, and Johnn....</h3>
  </div>
  <div class="film-poster">
      <h2>Monsters, Inc.</h2><img src="https://image.tmdb.org/t/p/w500/wFSpyMsp7H0ttERbxY7Trlv8xry.jpg"
          class="img-poster">
      <h3>Lovable Sulley and his wisecracking sidekick Mike Wazowski are the top scare team at Monsters, Inc.,
          the scream-processing factory in Monstropolis. Wh....</h3>
  </div>
</div>